SUBJECT_NAME = req_dn
KEY_SIZE = 2048

[req]
default_bits       = ${ENV::KEY_SIZE}
default_md         = sha256
string_mask        = utf8only
prompt             = no
encrypt_key        = no
distinguished_name = ${ENV::SUBJECT_NAME}
req_extensions     = req_extensions

[req_dn]
C  = US
ST = California
L  = Mountain View
O  = QUIC Server
CN = 127.0.0.1

[req_extensions]
subjectAltName = @other_hosts

[other_hosts]
DNS.1 = www.example.org
DNS.2 = www.iana.org
DNS.3 = mail.example.org
DNS.4 = mail.example.com
DNS.5 = www.google.com
DNS.6 = www.youtube.com
DNS.7 = www.facebook.com
DNS.8 = www.baidu.com
DNS.9 = www.wikipedia.org
DNS.10 = www.qq.com
DNS.11 = www.taobao.com
DNS.12 = www.tmall.com
DNS.13 = www.yahoo.com
DNS.14 = www.amazon.com
DNS.15 = www.google.co.in
DNS.16 = www.twitter.com
DNS.17 = www.sohu.com
DNS.18 = www.jd.com
DNS.19 = www.live.com
DNS.20 = www.instagram.com
DNS.21 = www.weibo.com
DNS.22 = www.sina.com.cn
DNS.23 = www.vk.com
DNS.24 = www.reddit.com
DNS.25 = www.360.cn
DNS.26 = www.blogspot.com
DNS.27 = www.netflix.com
DNS.28 = www.aliexpress.com
DNS.29 = www.ebay.com
DNS.30 = www.flipkart.com
DNS.31 = www.walmart.com
DNS.32 = www.etsy.com
DNS.33 = www.target.com
DNS.34 = www.costco.com
DNS.35 = www.sears.com
DNS.36 = www.news.google.com
DNS.37 = www.wsj.com
DNS.38 = www.nbcnews.com
DNS.39 = www.google.com/maps
DNS.40 = www.yahoo.com/news
DNS.41 = www.bbc.com
DNS.42 = www.boston.com
DNS.43 = www.cnn.com
DNS.44 = www.bloomberg.com
IP.1 = 127.0.0.1

